body {
  height: 100vh;

  display: flex;
  place-items: center;
  place-content: center;
  background-color: #121212;
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
  color: #484848;
  font-size: 88px;
  letter-spacing: 15px;
  text-transform: uppercase;
  animation: lighting 1.4s linear infinite;
}

@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }

  90% {
    color: #484848;
    text-shadow: none;
  }

  100% {
    color: #ed213a;
    text-shadow: 0 0 107px #ed213a, 0 0 150px #93291e;
  }
}

ul li:nth-child(1) {
  animation-delay: 0;
}

ul li:nth-child(2) {
  animation-delay: 0.1s;
}

ul li:nth-child(3) {
  animation-delay: 0.2s;
}

ul li:nth-child(4) {
  animation-delay: 0.3s;
}

ul li:nth-child(5) {
  animation-delay: 0.4s;
}

ul li:nth-child(6) {
  animation-delay: 0.5s;
}

ul li:nth-child(7) {
  animation-delay: 0.6s;
}
