body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #262626;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  display: grid;
  place-items: center;
  place-content: center;
}

.pulse {
  color: #fff;
  width: 150px;
  height: 150px;
  font-size: 32px;
  border-radius: 50%;
  background: #177c80;
  animation: animate 3s linear infinite;

  display: grid;
  place-items: center;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(55, 209, 201, 0.7), 0 0 0 0 rgba(24, 153, 104, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(55, 209, 201, 0),
      0 0 0 0 rgba(55, 209, 201, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(55, 209, 201, 0),
      0 0 0 30px rgba(55, 209, 201, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
  }
}
