* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  padding: 0 20px;
  background: #141e30;
  background: linear-gradient(to right, #243b55, #141e30);
}

/* base do sabre de luz */
button {
  z-index: 1;

  width: 100px;
  height: 20px;
  border: none;
  box-shadow: 0 4px 0px #616161;
  background: linear-gradient(12deg, #616261, #aaa);

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 20px;

  transition: 0.8s ease-out;
}

/* feixe de luz */
div:hover button::after {
  z-index: -1;
  content: "";
  width: 320px;
  height: 20px;
  background: linear-gradient(aqua, aquamarine);
  box-shadow: 0px 0px 12px cyan;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  position: absolute;
  top: 0%;
  left: 95%;
}

div {
  height: 100%;
  width: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

div:hover button {
  transform: rotate(180deg);
}

div:active button {
  transform: rotate(-250deg);
}
